/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

//Colors
$white: #fff;
$white-off: #f8f8ff;
$black: #2a2a2a;
$orange: #ee7421;
$red: #d45517;
$blue: #4f7b9c;
$dark: #252525;
$grey: #333;
$grey-light: #999999;
$grey-dark: #363636;
$grey-lighter: #555;
$grey-lightest: #fbfbfb;
$grey-white: #f1f1f1;
$grey-link: #585555;
$grey-facet: #e7e7e8;
$grey-disabled: #ddd;
$green: #81bd41;
$error: #a94442;

// Font Sizes
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-larger: ceil(($font-size-base * 1.5)); // ~18px
$font-size-largest: ceil(($font-size-base * 2)); // ~18px
$font-size-big: ceil(($font-size-base * 3)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~14px
$font-size-smaller: ceil(($font-size-base * 0.75)); // ~12px
$font-size-smallest: ceil(($font-size-base * 0.65)); // ~10px

$font-size-h1: floor(($font-size-base * 2.6)); // ~36px
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
$font-size-h3: ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4: ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5: $font-size-base;
$font-size-h6: ceil(($font-size-base * 0.85)); // ~12px

// Font Family.
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;
// Base Font Family
$font-family-base: $lato;
// Secondary Font Family
$secondary-font-family: $roboto;

// Fontawesome.
$fa-font-path: "../webfonts";
