// Body and Containers.
body {
  font-family: $font-family-base;
  .main-container {
    min-height: 600px;
  }
}
.main-container > .container {
  margin-top: 20px;
}
.container-fluid {
  padding: 0;
}
@media (min-width: 992px) {
  .container {
      width: 90%;
  }
}
// Header.
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}


// Links.
a {
  color: $orange;
  &:hover {
    color:darken($orange,8%);
    transition: all 0.3s ease;
  }
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
}

// Tabs.
.nav-tabs > li > a {
  color: $blue;
  border: 2px solid $blue;
  border-bottom: none;
  border-radius: 0;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: $blue;
  border: 2px solid $blue;
  border-bottom: none;
  border-radius: 0;
  color: $white;
}

// Accordions.
#accordion {
  &.panel-group {
    .panel {
      border: none;
      border-radius: 0;
      box-shadow: none;
      .panel-heading {
        background: $blue;
        border: none;
        border-radius: 0;
        color: $white;
        cursor: pointer;
        position: relative;
        padding: 15px;
        a {
          text-decoration: none;
          &:hover {
            color: $white;
          }
        }
        &:after {
          font-family: 'Glyphicons Halflings';
          content: "\e072"; /* "play" icon */
          float: right;
          font-size: 18px;
          position: absolute;
          top: 8px;
          right: 25px;
          -webkit-transform: rotate(-90deg);
          -moz-transform:    rotate(-90deg);
          -ms-transform:     rotate(-90deg);
          -o-transform:      rotate(-90deg);
          transform:         rotate(-90deg);
        }
        &.collapsed:after {
          -webkit-transform: rotate(90deg);
          -moz-transform:    rotate(90deg);
          -ms-transform:     rotate(90deg);
          -o-transform:      rotate(90deg);
          transform:         rotate(90deg);
        }
      }
      .panel-body {
        padding: 0;
      }
    }
  }
}

// Navigations.
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
}
.nav {
  li {
    a {
      &:hover {
        background: none;
      }
    }
  }
}
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

// Forms.
.form-control {
  border-radius: 0;
}
button[disabled], html input[disabled], .btn-primary[disabled]:hover {
  cursor: not-allowed;
  background: $grey-disabled;
  color: $white;
  opacity: 1 !important;
  border: none;
}
.has-error .form-control:focus, .has-warning .form-control:focus, .has-success .form-control:focus {
  box-shadow: none;
  border-color: $grey-lighter;
}
.form-type-password-confirm .progress {
  display: none;
}

// Table.
.table {
  td, th {
    border: 1px solid $grey-light;
  }
  th {
    background: $orange;
    color: $white;
  }
}

// Lists
ul {
  padding: 0;
  list-style: none;
}

// Scrollbars.
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(238,116,33, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(238,116,33, 0.5);
}

// Views.
.views-exposed-form .views-exposed-widget {
  padding: 0;
}

// Carousels.
.carousel.slide {
  .carousel-control {
    background: none;
    &.left {
      @include icon($fa-var-chevron-left);
    }
    &.right {
      @include icon($fa-var-chevron-right);
    }
    &:before {
      left: 40%;
      top: 40%;
      position: absolute;
      color: $orange;
      font-size: $font-size-largest;
    }
  }
}

// Footer.
.footer {
  margin-top: 0;
}

// Modals.
.modal-lg {
  width: 90%;
}

// Pagination.
.pagination {
  li {
    a {
      color: $orange;
      &:hover {
      color: $orange;
      }
    }
    &.active {
      span {
        background: $orange;
        border-color: $orange;
      }
    }
  }
}

// Float.
.right {
  float: right;
}

// Panels.
.panels-flexible-region-14-center {
  width: 100%;
}

.well {
  background: none;
  border: none;
}

// Ajax Throbber.

.view-loading {
  display: none !important;
}
