@mixin button-bg($bg) {
  background: $bg;
  color: $white;
  text-decoration: none;
  padding: 10px;
  font-size: $font-size-large;
  border: none;
  border-radius: 0;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

@mixin icon($icon) {
  text-indent: -9999px;
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($icon);
    text-indent: 0;
    float: left;
  }
}

@mixin icon-header($icon) {
  @extend %fa-icon;
  @extend .fas;
  font-family: inherit;
  position: relative;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content: fa-content($icon);
    text-indent: 0;
    float: left;
    font-size: $font-size-large;
  }
}

@mixin icon-list-style($icon) {
  @extend %fa-icon;
  @extend .fas;
  font-family: inherit;
  &:before {
    font-family: 'Font Awesome 5 Free';
    content: fa-content($icon);
    text-indent: 0;
    float: left;
    font-size: $font-size-large;
  }
}
