footer {
  background: $grey;
  color: $grey-light;
  h2 {
    font-size: $font-size-small;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      border-bottom: 2px solid $grey-light;
    }
    &:after {
      content: "";
      display: block;
      width: 35px;
      border-bottom: 2px solid $orange;
      margin: 10px auto 15px 0;
      z-index: 1;
      position: relative;
    }
  }
  a {
    color: $grey-light;
    padding: 0;
    &:hover {
      color: $orange;
    }
  }
}
