.form-group {
  margin-bottom: 0;
}
.form-item  {
  position: relative;
  label {
    color: $grey-light;
    font-weight: normal;
    margin: 0;
    position: absolute;
  }
  &.form-type-radios {
    label {
      position: unset;
    }
  }
  input.form-control, select {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $grey-light;
    background: none;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
    &:active {
      box-shadow: none;
    }
    &:focus {
      box-shadow: none;
    }
    &:disabled {
      color: inherit;
    }
  }
  &.form-type-textfield,&.form-type-password,&.form-type-webform-email,&.form-type-textarea,&.field-type-file {
    padding-top: 25px;
    label {
      top: 32px;
      color: $grey-light;
      font-weight: normal;
      &.shift {
        color: $orange;
        top: 10px;
        font-size: $font-size-small;
        /*transition:all 0.2s ease-out;*/
      }
    }
    &:focus-within {
      input.form-control {
        border-bottom: 2px solid $orange;
        transition:all 0.2s ease-out;
      }
      label {
        color: $orange;
        top: 10px;
        font-size: $font-size-small;
        transition:all 0.2s ease-out;
      }
    }
  }
  &.form-type-select {
    padding-top: 25px;
    select {
      background: url('../images/svg/i_arrow-down.svg') no-repeat right;
      background-size: 20px;
      color: $grey-light;
      &.selected {
        color: $grey-lighter;
      }
      option:first-child {
        display: none;
      }
    }
    label {
      display: none;
      &.shift {
        display: block;
        color: $orange;
        top: 10px;
        font-size: $font-size-small;
      }
    }
    &:focus-within {
      select.form-control {
        border-bottom: 2px solid $orange;
        transition:all 0.2s ease-out;
      }
      label {
        display: block;
        color: $orange;
        top: 10px;
        font-size: $font-size-small;
        transition:all 0.2s ease-out;
      }
    }
  }
  &.form-type-checkbox {
    padding-top: 25px;
  }
}
.form-actions {
  text-align: center;
}
button.form-submit {
  @include button-bg($blue);
  padding: 10px 62px;
  text-transform: uppercase;
  margin-top: 25px;
  span.icon {
    display: none;
  }
  &:disabled {
    background: $grey-disabled;
  }
}
.captcha {
  float: left;
  width: 100%;
  margin-bottom: -25px;
  .g-recaptcha {
    > div {
      margin: 30px auto;
    }
  }
}
.clientside-error {
  background: none !important;
  label {
    font-weight: normal;
    font-style: italic;
    color: $error;
  }
}
.form-control-feedback,label-danger {
  display: none !important;
}
.rc-anchor-alert, #rc-anchor-alert {
  display: none !important;
}
.registration-form-block {
  background: $white-off;
  padding: 20px;
  box-shadow: 0 0 8px $grey;
  h2 {
    text-align: center;
    color: $blue;
  }
  .form-type-password-confirm {
    .row {
      .form-type-password {
        clear: none;
      }
      .help-block.password-help {
        display: none !important;
      }
    }
  }
}
#feedbackCollect-container {
  bottom: 40% !important;
  #feedbackCollect-open-form {
    background: url(../images/feedback.png) no-repeat;
    width: 45px;
    height: 0;
    padding-top: 130px;
    overflow: hidden;
    font-size: 0;
  }
}
#feedbackCollect-form-container {
  bottom: 0 !important;
  right: 0 !important;
  #feedback-collect-node-form {
    button {
      padding: 10px 20px;
    }
    label {
      position: unset;
    }
    .panel {
      border: none;
      box-shadow: none;
    }
    .panel-default > .panel-heading {
      background: none;
      border: none;
      margin: 0;
      padding: 0;
      padding-top: 25px;
      font-weight: normal;
      font-size: 16px;
      color: $grey-light;
    }
    #edit-field-fc-attachment-und-0-upload-button {
      margin-top: 15px;
    }
    .form-actions {
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      button {
        margin-top: 10px;
      }
    }
  }
}

