header {
  &.navbar-default {
    margin: 0;
    background: $white;
    border: none;
    border-bottom: 2px solid $orange;
    padding: 10px 0;
    .navbar-toggle {
      position: absolute;
      right: 0;
      top: 0;
    }
    .view-shopping-cart {
      padding-left: 20px;
      float: left;
      position: relative;
      .view-footer {
        .line-item-summary {
          text-align: inherit;
          .line-item-quantity {
            position: absolute;
            left: 45px;
            top: 0px;
            .line-item-quantity-raw {
              background: $grey-light;
              padding: 2px 6px;
              border-radius: 100px;
            }
            .line-item-quantity-label {
              display: none;
            }
          }
          a {
            @include icon($fa-var-shopping-cart);
          }
        }
      }
      .view-empty {
        p {
          display: none;
        }
        .line-item-summary {
          text-align: inherit;
          .line-item-summary-view-cart {
            a {
              @include icon($fa-var-shopping-cart);
            }
          }
        }
      }
    }
    .panel-separator {
      display: none;
    }
  }
}
a.menu-icon {
  &.login {
    @include icon-header($fa-var-lock);
  }
  &.search {
    @include icon-header($fa-var-search);
  }
  &:before {
    padding-right: 5px;
    color: $orange;
  }
}
