.panels-flexible-region.modal-dialog {
  float: none;
  padding: 20px;
}
#searchToolbarModal {
  button.close {
    opacity: 1;
    color: $white;
  }
  .search-toolbar {
    padding: 20px;
    .search-view-mode-icons, .clear-search {
      display: none !important;
    }
  }
}
