.search-toolbar {
  background: $grey;
  position: relative;
  .col-md-6, .col-sm-12 {
    position: unset;
  }
  h2 {
    color: $white;
    font-size: $font-size-large;
  }
  .search-widget {
    .isvworld-search-widget-content {
      h2 {
        background: $grey-lighter;
        margin: 0;
        padding: 10px 6px;
        font-size: $font-size-base;
      }
      > h2 {
        font-size: $font-size-large;
      }
      ul {
        background: $white;
        max-height: 100px;
        overflow-y: scroll;
        li {
          float: left;
          width: 100%;
          a {
            float: left;
            width: 100%;
            color: $grey;
            padding: 2px 5px;
          }
          &.selected {
            background: $orange;
            a {
              color: $white;
            }
          }
        }
      }
    }
    .overlay {
      position: absolute;
      top: 0px;
      left: 15px;
      right: 15px;
      bottom: 9px;
      background: #333;
      opacity: 0.5;
    }
    #isvworld-search-widget-buttons {
      float: right;
      input {
        margin: 15px 15px 0 0;
        padding: 10px 20px;
        border-radius: 20px;
        background: $orange;
        border: none;
        color: $white;
        &:disabled {
          background: $grey-disabled;
        }
      }
    }
  }
  .search-bar {
    .views-exposed-widget {
      width: 100%;
      .search-butons-wrapper {
        width: 100%;
      }
      .tokenfield {
        border-radius: 20px 0px 0px 20px;
        width: 100%;
        padding: 7px 10px;
        margin-bottom: 0;
        height: auto;
        background: #fff;
        border: 1px solid #e2e2e2;
        input {
          padding: 2px 10px 0 10px;
          height: auto;
          margin-bottom: 0;
        }
        .token {
          padding: 2px 4px;
          font-size: 14px;
          height: auto;
          margin: 0;
          border-radius: 6px;
          margin-right: 5px;
          margin-bottom: 5px;
        }
      }
    }
    .form-item.form-type-textfield {
      padding-top: 0;
    }
    .innerDivSearch {
      display: flex;
      input {
        border-radius: 20px 0px 0px 20px;
      }
      button {
        border-radius: 0px 20px 20px 0px;
        margin-top: 0;
        padding: 0 10px;
      }
    }
    .tethys-search-advanced {
      display: none;
    }
    .search-view-mode-icons {
      position: absolute;
      bottom: -75px;
      right: 0;
      z-index: 10;
      > li {
        display: inline;
        margin-left: 15px;
        float: left;
        &:nth-child(4) {
          display: none;
        }
        &:last-child {
          position: relative;
          ul {
            display: none;
            position: absolute;
            right: 0;
            top: 50px;
            background: #fff;
            width: 250px;
            z-index: 100;
            text-align: left;
            .search-options-header {
              background: $grey;
              color: $white;
              padding: 10px;
            }
            li {
              padding: 10px;
              float: left;
              width: 100%;
              font-size: $font-size-smaller;
              text-transform: uppercase;
              color: $grey;
              list-style: none;
              .form-select {
                float: right;
                width: 50%;
              }
              a {
                color: $grey;
              }
              label {
                font-weight: normal;
                display: block;
                color: inherit;
                position: unset;
                font-size: inherit;
                float: left;
                width: 50%;
              }
            }
          }
        }
        span {
          color: $grey;
        }
        > a {
          float: left;
          color: $white;
          background: $grey;
          padding: 5px;
          font-size: $font-size-large;
          border-radius: 20px;
          min-width: 20px;
          &.active {
            background: $blue;
          }
          &.search-view-mode-icon-search-result {
            @include icon($fa-var-align-justify);
          }
          &.search-view-mode-icon-graphs {
            @include icon($fa-var-chart-line);
          }
          &.search-view-mode-icon-map {
            @include icon($fa-var-globe);
          }
          &.search-view-mode-icon-search-result-grid.search-view-mode-icon {
            display: none;
          }
          &.search-option-btn {
            @include icon($fa-var-cog);
          }
        }
      }
    }
    #container_autosuggest {
      background: $grey-lighter;
      float: left;
      width: 90%;
      color: $white;
      margin-left: 10px;
      h3 {
        font-size: $font-size-h3;
        font-weight: bold;
        border-bottom: 2px solid;
        padding: 10px 0;
      }
      li {
        margin-top: 15px;
        a {
          color: $white;
        }
      }
    }
    #show-information {
      @include icon($fa-var-info-circle);
      font-size: $font-size-larger;
      position: absolute;
      right: 125px;
      top: 50px;
      text-indent: 0;
    }
    #block-information {
      background: $white;
      position: absolute;
      right: 120px;
      z-index: 12;
      top: 85px;
      padding: 15px;
      box-shadow: 0px 0px 5px 0px;
      display: none;
      h2 {
        color: $orange;
        margin: 0;
      }
      ul {
        list-style: disc;
        padding-left: 20px;
        font-size: $font-size-small;
      }
    }
  }
  .search-or {
    color: $orange;
    position: absolute;
    left: 48.5%;
    p:after {
      content: "";
      position: absolute;
      top: 50px;
      bottom: 0;
      left: 50%;
      border-left: 1px solid $orange;
      min-height: 135px;
    }
  }
  .clear-search {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  .switch-search-mode {
    display:none;
    margin-top: 15px;
  }
}
.views-exposed-form {
  .form-item {
    margin: 0;
    padding: 0;
  }
}
