.page-search-company {
  background: $grey-white;
  .isvworld-detail {
    .region.right-region, .region.left-region {
      padding: 0;
    }
    .region.row{
      display: flex;
      flex-wrap: wrap;
      position: relative;
      > div.block, > div.region{
        position: relative;
        padding:15px;
        margin-bottom: 10px;
        &:before {
          content: '';
          position: absolute;
          background: $white;
          display: block;
          top: 0;
          right: 10px;
          bottom: 0;
          left: -1px;
          z-index: -1;
        }
        .field-label {
          font-size: $font-size-small;
          color: $blue;
          display: inline-block;
          text-transform: uppercase;
          &:after {
            content: '';
            background: $blue;
            width: 100%;
            height: 2px;
            display: block;
          }
        }
        &.grey {
          color: $white;
          &:before {
            background: $grey-lighter;
          }
          .field-label {
            color: $white;
            &:after {
              background: $white;
            }
          }
        }
        .field-items {
          margin-top: 10px;
          .classification, .zoominfo-people-replace-token {
            font-size: $font-size-smaller;
          }
          .company-descriptions, .news_content{
            font-size: $font-size-small;
          }
        }
        .field-company--dynamic-block-fieldcompany-company-descriptions {
          #companyDescriptions {
            .carousel-inner {
              padding: 0px 0px 30px;
              min-height: 180px;
              .item {
                height: 160px;
                overflow-y: scroll;
                text-align: justify;
              }
            }
            .carousel-indicators {
              bottom: -15px;
              li {
                background: $grey;
                width: 20px;
                height: 20px;
                &.active {
                  background: $orange;
                }
              }
            }
          }
        }
        &.field-company--dynamic-block-fieldcompany-url-and-aliases {
          a {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .field-aliases {
            display: none;
            position: absolute;
            background: white;
            left: -1px;
            z-index: 999999;
            padding: 0px 15px 15px;
            right: 10px;
            ul {
              padding: 0;
              list-style: none;
            }
          }
          &:hover {
            .field-aliases {
              display: block;
            }
          }
        }
        &.field-company--dynamic-block-fieldcompany-zoominfo-people-token {
          .zoominfo-people-replace-token {
            #people_section {
              height:230px;
              overflow-y: scroll;
              >.row {
                margin: 0;
              }
              .people-wrapper {
                position: relative;
                margin-top: 25px;
                .get_contact_information {
                  position: absolute;
                  top: 0;
                  left: 15px;
                  right: 15px;
                  background: rgba(255, 255, 255, 0.9);
                  border: 1px solid $grey;
                  padding: 5px 5px;
                  display: none;
                  font-size: $font-size-smallest;
                  a {
                    background: $orange;
                    color: $white;
                    padding: 1px 5px;
                    font-size: $font-size-smaller;
                    cursor: pointer;
                  }
                }
                &:hover {
                  .get_contact_information {
                    display: block;
                  }
                }
              }
            }
            #zoominfo_pager{
              border-top: 1px solid $grey-white;
              padding-top: 20px;
              ul{
                text-align: center;
                li{
                  display: inline-block;
                  border: 1px solid $orange;
                  cursor: pointer;
                  margin-left: 5px;
                  padding: 2px 10px;
                  &.active{
                    color: $orange;
                  }
                }
              }
            }
            .people-bottom {
              > div {
                padding-left: 10px;
                padding-right: 10px;
                .box_of_value {
                  background: $grey-white;
                  padding: 5px 0px;
                  label {
                    color: $blue;
                    width: 100%;
                    font-weight: normal;
                  }
                }
              }
            }
            .people-credit {
              font-size: $font-size-base;
              a.people-purchase-credit {
                @include icon-header($fa-var-shopping-cart);
                &:before {
                  margin-right: 5px;
                }
              }
            }
          }
          .company_zoominfo_url {
            a{
              margin-top: 25px;
              background: url("../images/zoominfo-logo.png") no-repeat center center;
              background-size: 150px;
              font-size: 0;
              min-height: 30px;
              display: block;
            }
          }
        }
        &.field-company--ecosystem,&.field-company--dynamic-block-fieldcompany-ecosystem-anonymous {
          .field-items {
            .field-item {
              width: 100%;
              &.unknowing {
                @include icon-list-style($fa-var-question);
              }
              &.true {
                @include icon-list-style($fa-var-check);
                &:before {
                  color: $green;
                }
              }
              &.false {
                @include icon-list-style($fa-var-times);
              }
              &:before {
                padding-right: 10px;
              }
            }
          }
        }
        &.field-company--dynamic-block-fieldcompany-more-like-this {
          .field-items {
            ul {
              padding: 0;
              list-style: none;
              li {
                background: url(../favicon.ico) no-repeat 0px 3px;
                padding-bottom: 15px;
                a {
                  padding-left: 25px;
                  color: $grey-lighter;
                }
              }
            }
            .view_more_link {
              float: right;
            }
          }
        }
        &.field-company--news {
          .field-items {
            height: 180px;
            overflow-y: scroll;
            .company-news {
              float: left;
              width: 100%;
              margin-top: 10px;
              &:first-child {
                margin-top: 0;
              }
              .news_content {
                width: 85%;
                float: left;
                padding-left: 20px;
                text-align: justify;
              }
            }
          }
        }
        &.field-company--funding {
          max-height: 90px;
          .company-funding {
            float: left;
            width: 100%;
            margin-top: 10px;
            display: none;
            position: relative;
            z-index: 10;
            &:before {
              content: "";
              background: $white;
              display: block;
              position: absolute;
              top: -10px;
              bottom: 0px;
              left: -16px;
              right: -5px;
              z-index: -1;
            }
            &:first-child {
              display:block;
              margin-top: 0;
            }
            .funding_amount {
              float: left;
              padding: 0 10px;
              span {
                display: block;
                &:nth-child(2) {
                  font-size: $font-size-smaller;
                }
              }
            }
          }
          &:hover {
            .company-funding {
              display: block;
            }
          }
        }
        &.field-company--dynamic-block-fieldcompany-company-address {
          h3 {
            font-size: $font-size-base;
            text-transform: uppercase;
            color: $blue;
          }
        }
        .field-company--isvworld-rank, .field-company--growth-months-12 {
          margin-top: 23px;
        }
        .field-company--isvworld-score,.field-company--isvworld-rank,.field-company--growth-months-12,.field-company--growth-months-6 {
          position: unset;
        }
        .date_icon {
          float: left;
          text-align: center;
          border: 1px solid $grey-white;
          font-size: $font-size-smaller;
          text-transform: uppercase;
          span {
            display: block;
            &:nth-child(1) {
              background: $orange;
              color: $white;
              padding: 1px 10px;
            }
          }
        }
        .information-icon {
          @include icon($fa-var-info-circle);
          position: absolute;
          bottom: 25px;
          &:before {
            color: $white;
            font-size: $font-size-large;
          }
        }
        .external_link_icon {
          a {
            @include icon($fa-var-external-link-alt);
          }
        }
      }
      &.region-one-info {
        > div {
          padding: 0;
          &:before {
            content: none;
          }
          .field-logo {
            float: left;
            img {
              width: 80px;
              border: 2px solid $grey-white;
              padding: 3px;
              background: $white;
            }
          }
          .field-title {
            display: table;
            float: left;
            height: 80px;
            h1 {
              color: $blue;
              text-transform: uppercase;
              font-weight: 900;
              margin: 0;
              display: table-cell;
              vertical-align: middle;
              padding-left: 10px;
              font-size: $font-size-largest;
            }
          }
          .field-social {
            > div {
              display: inline;
              a {
                display: inline-block;
                margin-right: 5px;
                width: 24px;
                height: 0;
                padding-top: 24px;
                overflow: hidden;
                cursor: pointer;
              }
              &.field-social-rss {
                a {
                  background: url('../images/social/rss.png');
                }
              }
              &.field-social-facebook {
                a {
                  background: url('../images/social/facebook.png');
                }
              }
              &.field-social-twitter {
                a {
                  background: url('../images/social/twitter.png');
                }
              }
              &.field-social-linkedin {
                a {
                  background: url('../images/social/linkedin.png');
                }
              }
              &.field-social-crunchbase {
                a {
                  background: url('../images/social/crunchbase.png');
                }
              }
            }
          }
        }
      }
      .lock-wrapper {
        position: absolute;
        background: rgba(0,0,0,0.6);
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .component--icon {
          height: 40px;
          width: 40px;
          min-width: 40px;
          min-height: 40px;
          line-height: 40px;
          background: radial-gradient(ellipse at center,#fff 0,#fff 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
          fill: $orange;
        }
      }
    }
  }
  img {
    max-width: 100%;
  }
}

.classification {
  ul {
    padding-left: 15px;
    height: 150px;
    overflow-y: scroll;
    list-style: disc;
  }
}
.highcharts-fieldformatter {
  height: 100px;
  width: 100%;
  > .container {
    width: 100%;
    height: 100px;
    padding: 0;
  }
}

