#isvworld-csv-download-button, #isvworld-csv-export-contacts-download-form {
  float: left;
  width: 100%;
  background: $white;
  padding: 30px;
  border: 1px solid #grey-lighter;
  font-size: $font-size-base;
  .filename {
    position: relative;
    span.csv {
      position: absolute;
      top: 50px;
      right: 0px;
    }
  }
  .duplicate_message{
    color: $blue;
    margin-bottom: 30px;
  }
  .form-item {
    label {
      color: $orange;
      font-size: 16px;
      position: unset;
    }
    &.radio,&.checkbox {
      label {
        color: inherit;
      }
    }
    &.form-type-checkbox {
      padding: 0;
      margin: 0;
    }
    &.form-item-excludeeucontacts, &.form-item-personlocalsearchtype.form-group {
      margin-top: 25px;
    }
  }
}

#isvworld-csv-export-contacts-download-form {
  label {
    font-size: $font-size-base;
  }
  .parts{
    padding: 1em 4em;
    border: 1px solid $orange;
    position: relative;
    margin-bottom: 2em;
    .number {
      position: absolute;
      top: -8px;
      left: -7px;
      font-size: 32px;
      background: #fff;
      padding: 10px;
      color: $orange;
    }
    .label{
      label{
        color: $orange;
      }
    }
  }
  .parent_checkbox{
    position: relative;
    float: left;
    width: 100%;
    .show_child{
      @include icon-header($fa-var-chevron-right);
      width: 12px;
      height: 12px;
      cursor: pointer;
      position: absolute;
      left: -15px;
      top: 5px;
      &:before {
        font-size: $font-size-small;
      }
      &.select {
        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
      }
    }
    .child_checkbox{
      display: none;
      margin-left: 15px;
    }
  }
  button.form-submit {
    float: right;
  }
}

