.faq-question-answer {
  border-bottom: 1px solid $grey;
  float: left;
  width: 100%;
  .faq-question {
    padding: 0;
    float: left;
    width: 100%;
    a {
      float: left;
      width: 100%;
      position: relative;
      color: $blue;
      padding: 25px 0;
      font-size: $font-size-large;
      @include icon-header($fa-var-chevron-down);
      &:before {
        position: absolute;
        right: 0;
      }
    }
    &.faq-qa-visible {
      a {
        @include icon-header($fa-var-chevron-up);
      }
    }
  }
  .faq-answer {
    float: left;
    width: 100%;
    padding: 0;
  }
}
