.panels-flexible-region-10-center {
  width: 100%;
}
.front {
  .main-container.container-fluid {
    h1 {
      display: none;
    }
  }
}
.homepage-banner {
  margin-top: 0;
  background: url("../images/hero/hero1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  @media (max-width:768px) {
    height: 600px;
  }
  height: 500px;
  .banner-top-links {
    margin-top: 25px;
    ul {
      background: $orange;
      border-radius: 15px;
      border: 1px solid $white;
      float: right;
      li {
        display: inline-block;
        float: left;
        &:first-child {
          border-right: 1px solid $white;
        }
        a {
          color: $white;
          float: left;
          width: 100%;
          padding: 5px 10px;
        }
      }
    }
  }
  .banner-content {
    padding: 25px 0;
    .typed-cursor {
      display: none
    }
    h2, h3 {
      margin-bottom: 40px;
    }
    h2 {
      height: 34px;
      text-decoration: underline;
      font-weight: bold;
    }
  }
  .banner-signup-link {
    a {
      @include button-bg($blue);
      display: inline-block;
      margin: 10px 15px;
    }
  }
}
.post-banner-carousel {
  position: relative;
  background: $grey;
  min-height: 230px;
  ol.carousel-indicators {
    top: -15px;
    li {
      width: auto;
      height: auto;
      text-indent: 0;
      color: white;
      display: inline-block;
      background: $grey-lighter;
      padding: 6px 15px;
      border-radius: 0;
      margin: 0;
      font-size: $font-size-large;
      &.active {
        width: auto;
        height: auto;
        background: $orange;
      }
    }
  }
}
.clients {
  float: left;
  width: 100%;
  padding: 20px 0;
  .row {
    float: left;
    width: 100%;
    div {
      margin-top: 25px;
    }
  }
}
.stats {
  float: left;
  width: 100%;
  color: $white;
  padding: 20px 0;
  .row {
    float: left;
    width: 100%;
    > div {
      margin-top: 25px;
      p {
        font-size: $font-size-larger;
        span {
          float: left;
          width: 100%;
          font-size: $font-size-base;
        }
      }
    }
  }
}
.what-makes-us-different {
  padding: 25px 0;
  background: url("../images/hero/hero2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
  color: $white;
  font-size: 25px;
  span {
    font-size: 40px;
  }
  .classifications {
    p {
      padding: 38px 0;
      border: 10px solid;
      border-radius: 50%;
    }
  }
  ul {
    text-align: left;
    font-size: $font-size-base;
  }
}
.discover-how-we-can-assist-you {
  padding: 25px 0;
  color: $blue;
  font-size: $font-size-large;
  .row {
    >div {
      margin-top: 25px;
      &.col-md-12 {
        margin-top: 0;
      }
    }
  }
  .icon1 {
    @include icon($fa-var-lightbulb);
  }
  .icon2 {
    @include icon($fa-var-bullseye);
  }
  .icon3 {
    @include icon($fa-var-search);
  }
  .icon4 {
    @include icon($fa-var-chart-line);
  }
  .icon5 {
    @include icon($fa-var-address-card);
  }
  .icon6 {
    @include icon($fa-var-chart-bar);
  }
  .icon7 {
    @include icon($fa-var-envelope-open);
  }
  a:before {
    font-size: $font-size-big;
  }
}
.words-from-clients {
  padding: 25px 0;
  position: relative;
  &:after {
    content: "";
    background-color: $grey-white;
    position: absolute;
    width: 50%;
    height: 3px;
    bottom: 0;
    left: 25%;
    display: block;
  }
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $blue;
  }

  .testimonial-body {
    font-style: italic;
    min-height: 140px;
    text-align: justify;
    color: #555;
  }
  .testimonial-client {
    font-weight: 300;
    min-height: 150px;
    text-align: right;
    p:first-child {
      color: #999;
    }
    img {
      float: left;
      max-width: 100px;
    }
  }
}
.how-it-works {
  padding: 25px 0;
  h2 {
    text-align: center;
    color: $blue;
  }
  .row > div {
    margin-top: 25px;
  }
}
.get-started-today {
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $blue;
  }
  background: $orange;
  padding: 25px 0;
  h2 {
    color: $white;
  }
  a {
    @include button-bg($blue);
    display: inline-block;
    margin-top: 10px;
  }
}
.multi-item-carousel {
  .carousel-inner {
    margin: 0 auto;
    width: 80%;
    @media (max-width:768px) {
      > .item{
        > div {
          &:nth-child(2) {
            display: none;
          }
        }
      }
    }
    @media (min-width:768px) {
      > .item{
        transition: 500ms ease-in-out left;
      }
      .active {
        &.left{
          left:-50%;
        }
        &.right {
          left:50%;
        }
      }
      .next{
        left: 50%;
      }
      .prev{
        left: -50%;
      }
    }
    @media (min-width:768px) {
      > .item{
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
}
