.page-pricing-page {
  .view-pricing {
    col-md-2 {
      width: 20%;
    }
    .views-row{
      border: 1px solid $grey-white;
      background: $grey-lightest;
      padding: 0 0 20px 0;
      .field {
        display: inline-block;
        margin-top: 10px;
        &.field-name-field-description {
          display: block;
        }
      }
      .form-submit {
        @include button-bg($blue);
        span {
          &:before {
            display: none;
          }
        }
      }
      .field-name-commerce-price {
        font-size: $font-size-big;
      }
    }
    .headerFieldset{
      background:$orange;
      color:$white;
      padding:20px;
    }
  }
}
