.page-search {
  h1 {
    display: none;
  }
  background: $grey-white;
  .highlighted {
    background: $grey;
    padding: 10px 0;
    #block-search-api-saved-searches-tethys-index {
      display: none;
    }
  }
  aside {
    font-size: $font-size-smaller;
    font-weight: bold;
    .well {
      padding: 0;
    }
    .block-facetapi {
      margin-bottom: 5px;
      > h2 {
        cursor: pointer;
        background: $grey;
        color: $white;
        font-size: $font-size-small;
        text-transform: uppercase;
        padding: 12px 8px 12px 40px;
        margin: 0;
        width: 100%;
        &::before {
          color: $white;
          position: absolute;
          top: 11px;
          left: 7px;
          font-size: 14px;
        }
        .facetapi-andor-subject {
          float: none;
        }
        &.collapse {
          display: block !important;
        }
      }
      &.applications {
        h2 {
          @include icon-header($fa-var-window-maximize);
        }
      }
      &.industries {
        h2 {
          @include icon-header($fa-var-industry);
        }
      }
      &.ecosystems {
        h2 {
          @include icon-header($fa-var-cog);
        }
      }
      &.headquarters {
        h2 {
          @include icon-header($fa-var-map-marker-alt);
        }
      }
      &.size {
        background: $white;
        h2 {
          @include icon-header($fa-var-dollar-sign);
        }
      }
      &.established-in-year {
        background: $white;
        h2 {
          @include icon-header($fa-var-calendar-alt);
        }
      }
      &.last-modified {
        h2 {
          @include icon-header($fa-var-clock);
        }
      }
      &.others {
        h2 {
          @include icon-header($fa-var-exchange-alt);
        }
      }
      > ul {
        max-height: 300px;
        overflow-y: scroll;
        background: $white;
        padding: 0;
        li {
          position: relative;
          ul {
            padding: 0;
            display: none;
            li {
              position: relative;
              background: $grey-lightest;
            }
          }
        }

      }
      .exp {
        position: absolute;
        padding: 8px;
        font-size: 25px;
        cursor: pointer;
        @include icon($fa-var-caret-right);
        &.klik {
          @include icon($fa-var-caret-down);
        }
      }
      .f-in {
        color: $grey;
        padding: 1em 5em 1em 2em;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid $grey-facet;
      }
      .count {
        background: #d8dade;
        padding: 2px 3px;
        color: #2a2a2a;
        position: absolute;
        right: 34px;
        top: 12px;
        line-height: 1;
        font-size: 10px;
      }
      .exc,.f-ac {
        position: absolute;
        right: 10px;
        top: 12px;
        display: inline-block;
        height: 0;
        width: 14px;
        padding-top: 14px;
        overflow: hidden;
        background-size: 100%;
        &.exc {
          background: url(../images/svg/i-minus.svg);
        }
        &.f-ac {
          background: url(../images/svg/i-minus-a.svg);
        }
        .hide {
          display: block !important;
        }
      }
      .facetapi-andor-container {
        position: relative;
      }
      .facetapi-andor-operator {
        position: absolute;
        right: 0;
        top: -7px;
        a {
          display: inline-block;
          padding-top: 15px;
          margin: 0;
          text-indent: -9999px;
          width: 25px;
          &:first-child {
            background: url(../images/svg/i-and.svg);
            background-size: 100% 100%;
            margin-right: 5px;
            &:hover,
            &.facetapi-andor-active {
              background: url(../images/svg/i-and-a.svg);
              background-size: 100% 100%;
            }
          }
          &:last-child {
            background: url(../images/svg/i-or.svg);
            background-size: 100% 100%;
            &:hover,
            &.facetapi-andor-active {
              background: url(../images/svg/i-or-a.svg);
              background-size: 100% 100%;
            }
          }
        }
      }
      .ui-slider {
        height: 15px;
        background: none;
        border: solid 1px $grey-lightest;
        border-radius: 0;
        margin: 5px auto;
        max-width: 85%;
        .ui-slider-handle {
          background: $orange;
          border: none;
          top: -1px;
          height: 15px;
          border-radius: 0;
          width: 15px;
        }
      }
    }
  }
  .view-tethys-search {
    font-size: $font-size-smaller;
    article {
      margin-top: 20px;
      header {
        font-size: $font-size-base;
        background: $grey;
        text-transform: uppercase;
        padding: 10px 0;
        > div > div {
          display: inline-block;
        }
        .title-right {
          div {
            float: right;
            margin-right: 10px;
          }
        }
      }
      > div.row {
        background: $white;
        padding: 10px 0;
      }
      .field-company--name {
        h2 {
          font-size: inherit;
          margin: 0;
          a {
          color: $white;
          }
        }
      }
      .field-company--active {
        .inactive_company_hover {
          display: none;
        }
      }
      .field-company--dynamic-block-fieldcompany-favourite-link {
        a {
          @include icon($fa-var-star);
          color: $white;
          span {
            display: none;
          }
          &.favourite {
            color: $orange;
          }
        }
      }
      .field-company--url {
        a {
          width: 18px;
          @include icon($fa-var-globe);
        }
      }
      .field-company--size {
        [class*="company-size"] {
          background: url(../images/svg/i_size.svg) no-repeat 0 0;
          background-size: auto 16px;
          height: 16px;
          width: 50px;
          overflow: hidden;
        }
        .company-size-0 {
          width: 0;
        }
        .company-size-1 {
          width: 6px;
        }
        .company-size-2 {
          width: 13px;
        }
        .company-size-3 {
          width: 20px;
        }
        .company-size-4 {
          width: 27px;
        }
        .company-size-5 {
          width: 34px;
        }
      }
      .field-company--classification-horizontal {
        margin-top: 10px;
      }
      .field-company--classification-horizontal, .field-company--classification-vertical {
        .field-label, .field-items{
          display: inline;
          .core {
            font-weight: bold;
          }
        }
      }
      .field-company--logo {
        img {
          max-width: 100%;
        }
      }
    }
    .views-field-nothing {
      color: $grey-white;
      a {
        color: $grey-white;
      }
      &:hover {
        color: $grey;
        a {
        color: $orange;
        }
      }
    }
  }
  #block-tethys-connector-search-current {
    h2 {
      font-size: $font-size-larger;
      font-weight: bold;
      text-transform: uppercase;
      color: $blue;
    }
    ul.current-search {
      li {
        float: left;
        margin: 0 10px 10px 0;
        padding: 5px;
        border: 1px solid #a2a2a2;
        background: #cdcccc;
        border-radius: 15px;
        a {
          float: right;
          @include icon($fa-var-times);
          &+span {
            font-size: 12px;
            background-size: 20px 21px;
            background-repeat: no-repeat;
            padding: 4px;
            padding-left: 26px;
          }
          &.conjunction-or {
            &+span {
              background-image: url(../images/svg/i-or.svg);
            }
          }
          &.conjunction-and {
            &+span {
              background-image: url(../images/svg/i-and.svg);
            }
          }
        }
      }
      &.current-search-excluded {
        li {
          background: rgba(224,27,27,0.6);
          border: 1px solid rgba(224,27,27,0.56);
          text-decoration: line-through;
        }
      }
    }
  }
}

.show-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 9998;
  background:  #FFFFFF;
  &.noLoader{
    display: none !important;
  }
}
.sk-circle.noShowing{
  display: none !important;
}

.hidden {
  display: none;
}
.keepit{
  display: block !important;
}

.no-opacity {
  opacity: 0;
}

.main_search{
  position: relative;
}
.page-batch{
  .sk-circle{
    display: none !important;
  }
}

.sk-circle {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  background:  rgba(237, 241, 245, 0.77) url(../images/isv-loading.gif) no-repeat  center center;
  &.important{
    display: block !important;
  }
  .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  }
  .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
  .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
  }
  .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
  }
  .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
  }
  .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
  }
  .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
  }
  .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
  }
  .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
  }
  .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
  }
  .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
  }
  .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
  }
  .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//Loader

.ajax-loading {
  .view-loading {
    margin: 0em auto;
    font-size: 10px;
    position: relative;
    top: 150px;
    z-index: 999;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(46, 46, 46, 0.2);
    border-right: 1.1em solid rgba(46, 46, 46, 0.2);
    border-bottom: 1.1em solid rgba(46, 46, 46, 0.2);
    border-left: 1.1em solid #2e2e2e;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    margin-top: -10em;
  }
  .view-loading,
  .view-loading:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  .view-content {
    opacity: 0.2;
  }
}
