.page-user, .page-complete-profile, .page-validate-profile {
  background-image: url("../images/main-bg.jpg");
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.5);
  .main-container {
    @media (min-width: 992px) {
      .container {
        width: 75%;
      }
    }
    .container {
      h1, h2 {
        font-weight: bold;
        color: $blue;
        text-transform: uppercase;
      }
      background: $white-off;
      padding: 35px;
    }
  }
  &.page-user-login {
    @media (min-width: 992px) {
      .main-container {
        .container {
            width: 35%;
        }
      }
    }
    button.form-submit {
      padding: 10px 126px;
    }
    .user-links {
      padding-top: 25px;
    }
  }
  &.logged-in {
    button.form-submit {
      margin-top: 25px;
    }
  }
}
.page-user {
  h1.page-header {
    display: none;
  }
}
